<div class="spacer">
</div>
<div class="catchline">
  <h1>Find a member of <img src="https:community.algolia.com/instantsearch.js/img/logo-algolia-dark.png" alt="Algolia" height="50">'s team</h1>
</div>