.demo{
  display: flex;

  .twitter-typeahead{
    width: 50%;
    margin: auto;
    display: block;

    input::placeholder {
      color: #48B3E1;
    }
    input{
      border: none;
      border-bottom: 1px solid white;
      background-color: transparent;
      box-shadow: none;
      color: white;
      height: 45px;
      font-size: 25px;
      font-weight: 100;
      -webkit-font-smoothing: antialiased;
      margin: 1.8em 0 .8em;
      font: 300 1.5em/100% Raleway;
    }

    .tt-dropdown-menu{
      width: 100%;
      .results{
        padding: 10px;
        padding-bottom: 0px;
        height: 50px;
        color: white;
        font-size: 25px;
        font-weight: 100;
        -webkit-font-smoothing: antialiased;

        font: 300 1.5em/100% Raleway;
        /*background-color: white;*/
        img{
          border-radius: 50%;
          height: 40px;
        }
      }

    }
  }

}